body {
   background: #07061e;
    /*background: #FFFFFF;*/
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body.light-theme  {
    background: #FFFFFF;
    /*background: #FFFFFF;*/
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


/** FONTS **/

@font-face {
    font-family: 'Lato-Thin';
    src: url('../resources/fonts/Lato-Thin.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../resources/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../resources/fonts/Lato-Light.ttf');
}