.tree-joint {
    fill: #6064ae;
    opacity: 0.5;
}

.tree-line {
    stroke: black;
    stroke-width: 0.5;
    opacity: 0.5;
    pointer-events: none;
}
/*DARK THEME*/
.tree-path {
    stroke: #374185;
    fill: #FFFFFF;
    stroke-width: 0;
    stroke: black;

}


.tree-handle-line {
    stroke-width: 0.1;
    opacity: 0.8;
    stroke: black;
}