.tree-joint {
    fill: #6064ae;
    opacity: 0.5;
}

.tree-line {
    stroke: black;
    stroke-width: 0.5;
    opacity: 0.5;
    pointer-events: none;
}

.tree-path {
    stroke: #374185;
    fill: #FFFFFF;
    stroke-width: 0;
    stroke: black;

}